* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-lime: hsl(61, 70%, 52%);
  --lime-hover: hsla(61, 70%, 52%, 0.584);
  --primary-lime-light: hsla(61, 70%, 52%, 0.15);
  --primary-red: hsl(4, 69%, 50%);
  --white: hsl(0, 0%, 100%);

  --slate-100: hsl(202, 86%, 94%);
  --slate-300: hsl(203, 41%, 72%);
  --slate-500: hsl(200, 26%, 54%);
  --slate-700: hsl(200, 24%, 40%);
  --slate-900: hsl(202, 55%, 16%);
  --slate-1000: hsl(202, 56%, 12%);
  font-size: 16px;
}

body,
input,
button {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
  /* border: solid 1px var(--slate-500); */
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 0 8px 12px;
}

.label {
  background-color: var(--slate-100);
  color: var(--slate-700);
  font-weight: 700;
  padding: 0 12px;
}

body {
  background-color: var(--slate-100);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-component {
  background-color: var(--white);
  display: flex;
  /* gap: 38px; */
  border-radius: 12px;
}

.calculator {
  padding: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  color: var(--slate-900);
}

.clear-form {
  border: none;
  background: none;
  cursor: pointer;
  border-bottom: solid 1px var(--slate-700);
  font-weight: 500;
  color: var(--slate-700);
}

.clear-form:hover {
  color: var(--slate-500);
  border-bottom: solid 1px var(--slate-500);
}

form {
  margin: 32px 0 0 0;
}

label,
legend {
  color: var(--slate-500);
}

.amount-input,
.term-input,
.rate-input {
  margin: 8px 0 0 0;
  display: flex;
  position: relative;
  border: solid 1px var(--slate-500);
  border-radius: 4px;
}

.amount-input:hover,
.term-input:hover,
.rate-input:hover {
  border: solid 1px var(--slate-900);
}

.amount-input:focus-within,
.term-input:focus-within,
.rate-input:focus-within {
  border: solid 1px var(--primary-lime);
}

.amount-input:focus-within .label,
.term-input:focus-within .label,
.rate-input:focus-within .label {
  background-color: var(--primary-lime);
}

#amount {
  position: relative;
  border-radius: 4px;
  width: 100%;
  padding-left: 47px;
}

.amount-input .label {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.term__rate {
  margin: 24px 0 0 0;
  display: flex;
  gap: 24px;
}

#term,
#rate {
  position: relative;
  border-radius: 4px;
}

.term-input .label,
.rate-input .label {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

fieldset {
  margin: 24px 0 0 0;
  border: none;
}

fieldset .options {
  margin: 8px 0 24px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

fieldset .options label {
  font-weight: 700;
  color: var(--slate-900);
  border: solid 1px var(--slate-500);
  padding: 8px 0 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

fieldset .options label:hover {
  border: solid 1px var(--primary-lime);
}

input[type="radio"] {
  border: solid 1.5px var(--slate-500);
  accent-color: var(--primary-lime);
  outline: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: var(--white);
  border: solid 2px var(--primary-lime);
  position: relative;
}

input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primary-lime);
}

label.radio-option:has(input[type="radio"]:checked) {
  border-color: var(--primary-lime);
  background-color: var(--primary-lime-light);
}

#calculate {
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 999px;
  background-color: var(--primary-lime);
  color: var(--slate-900);
}

#calculate:hover {
  background-color: var(--lime-hover);
}

.results {
  background-color: var(--slate-900);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 64px;

  padding: 40px;
}

.empty {
  height: 100%;
  text-align: center;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* display: none; */
}

.empty h3 {
  margin: 16px 0;
}

.empty p {
  color: var(--slate-300);
  max-width: 414px;
}

.result-component {
  /* border: solid 1px pink; */
  position: relative;
  display: none;
}

.result-component h1 {
  font-size: 1.25rem;
  color: var(--white);
  margin: 0 0 16px 0;
}

.result-component p.kicker {
  color: var(--slate-100);
  max-width: 414px;
  margin: 0 0 32px 0;
  line-height: 1.5rem;
}

.result-card {
  position: relative;
  border-radius: 4px;
}

.result-card-bg {
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  background-color: var(--primary-lime);
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.result-card-content {
  position: relative;
  z-index: 2;
  background-color: var(--slate-1000);
  border-radius: 4px;
  padding: 30px;
}

.result-card p {
  color: var(--slate-100);
}

.result-card .result {
  font-size: 3rem;
  color: var(--primary-lime);
}

.line {
  width: 100%;
  height: 1px;
  display: block;
  background-color: var(--slate-700);
  margin: 24px 0;
}

.repayment {
  color: var(--white);
  margin: 16px 0 0 0;
}
